.header{
    &__container {
        @extend .container;
    }
    position: relative;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999999;
        padding-top: 44px;
        padding-bottom: 36px;
        &-block{
            display: flex;
            align-items: center;
            gap: 27px;
            @include media(1160px){
                width: 100%;
                justify-content: space-between;
            }
        }
        &-menu{
            display: flex;
            gap: 16px;
            @include media(1160px) {
                flex-direction: column;
                position: absolute;
                top: 0;
                right: -100%;
                width: 300px;
                height: 100vh;
                padding: 50px 0;
                border-right: 1px solid rgb(39, 39, 68);
                overflow: auto;
                transition: right 300ms;
                background: $white;
                &.active {
                    right: 0;
                }
            }
        }
        &-link {
            font-size: 14px;
            line-height: 13px;
            color: $black;
            @include media(1160px){
                display: block;
                text-align: center;
                padding: 10px;
            }
        }
        &-button {
            padding: 8px 12px;
            background: $orange;
            border-radius: 2px;
            color: white;
            @include media(1160px){
                display: none;
            }
        }
        &-burger {
            outline: none;
            border: none;
            background:none;
            display: none;
            & img {
                width: 33px;
                height: 20px;
            }
            @include media(1160px){
                display: block;
            }
        }
    }
    &__content {
        background: url("@/assets/images/header/header__content-bg.png");
        height: 495px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-end;
        &-block{
            display: flex;
            gap:58px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            flex-wrap: wrap;
            width: 100%;
            &-shadow {
                width: 82px;
                background: #EFCED9;
                @include media(1160px){
                    display: none;
                }
            }
        }
        &-title{
            cursor:  context-menu;
            color: white;
            font-size: 44px;
            line-height: 44px;
            max-width: 440px;
            width: 100%;
            text-align: right;
        }
        &-time{
            cursor:  context-menu;
            font-weight: 700;
            font-size: 35px;
            line-height: 33px;
            color: $white;
            padding: 16px 28px;
            max-width: 140px;
            width: 100%;
            background: #EAACC1;
            border-radius: 4px;
        }
    }
    .bg {
        position: absolute;
        background: rgb(0, 0, 0, 0.30);
        height: 100vh;
        width: 100vw;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: none;
        &.active {
            display: block;
        }
    }
}