.header{
    &__container {
        @extend .container;
    }
    position: relative;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 44px;
        padding-bottom: 36px;
        &-block{
            display: flex;
            align-items: center;
            gap: 27px;
        }
        &-menu{
            display: flex;
            gap: 16px;
        }
        &-link {
            font-size: 14px;
            line-height: 13px;
            color: $black;
        }
        &-button {
            padding: 8px 12px;
            background: $orange;
            border-radius: 2px;
            color: white;
        }
    }
    &__content {
        background: url("@/assets/images/header/header__content-bg.png");
        height: 495px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-end;
        &-block{
            display: flex;
            gap:58px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            flex-wrap: wrap;
            width: 100%;
            &-shadow {
                width: 82px;
                background: #EFCED9;
                @include media(1160px){
                    display: none;
                }
            }
        }
        &-title{
            cursor:  context-menu;
            color: white;
            font-size: 44px;
            line-height: 44px;
            max-width: 440px;
            width: 100%;
            text-align: right;
        }
        &-time{
            cursor:  context-menu;
            font-weight: 700;
            font-size: 35px;
            line-height: 33px;
            color: $white;
            padding: 16px 28px;
            max-width: 140px;
            width: 100%;
            background: #EAACC1;
            border-radius: 4px;
        }
    }
}