*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

body {
    font-family: 'GP';
    font-weight: 400;
}
html, body {
    overflow-x: hidden
}
.container {
    @include container();
}
.row {
    @include row(0);
}